.nv-link:hover {
    background-color: #283255;
    border-radius: 0.5rem;
}
.nv:hover {
    margin-left: 5px;
    transition: .5s;
}

.nv {
    transition: .5s;
}

div.dataTables_length select {
    color: #CFD1D9 !important;
    background-color: #111C44 !important; 
}
table.dataTable tbody tr:hover {
    background-color:#293357 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #293357 !important;
    color: #CFD1D9 !important;
}
.paginate_button.current  {
    background-color: #293357 !important;
}
.dataTables_filter input:focus {
    border-color: none;
    outline: none;
    box-shadow: none;
}
.dataTables_filter input {
    margin-left: 5px !important; 
}
.table {
    width: 100% !important;
}
.delete_button {
    border: none;
    background-color: transparent;
    color: #FFFFFF;
}

.form-style input {
    background-color: transparent;
    color: #CFD1D9;
    border-color: #273569;
}
.form-style input:focus {
    background-color: transparent;
    color: #CFD1D9;
}
.form-style textarea {
    background-color: transparent;
    color: #CFD1D9;
    border-color: #273569;
}
.form-style textarea:focus {
    background-color: transparent;
    color: #CFD1D9;
}
.form-style select {
    background-color: transparent;
    color: #CFD1D9;
    border-color: #273569;
}
.form-style select:focus {
    background-color: #111C44;
    color: #CFD1D9;
}
.form-style option:hover {
    color: aqua;
}
.hr {
    background-color: #CFD1D9;
}
.bd-callout {
    background-color: transparent;
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #273569;
    border-left-width: .25rem;
    border-radius: .25rem
}
.bd-callout ul {
    list-style-type: none;
}
.bd-callout-danger {
    border-left-color: #d9534f;
    color: #d9534f;
}
.b-color {
    border: 1px solid #3b4772;
}
.app-hr {
    background-color: #c3c6d1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.admin_name {
    margin-bottom: 0px;
}