.w-login {
    width: 750px;
}

.p-form-input {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}

.p-form-select {
    /* padding-top: 15px;
    padding-bottom: 15px; */
    font-size: 15px;
    height: 40px;
}

.form-file {
    height: 40px;
}

.v-expired {
    width: 400px;
}

.m-expired {
    margin-top: 150px;
    margin-bottom: 150px;
}

.s-resend {
    color: #2e92c3;
    text-decoration: underline;
}

.s-resend:hover {
    color: #119fe5;
    text-decoration: underline;
    margin-left: 5px;
    transition: .4s;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.pf-drop {
    background-color: #5360ef;
    padding: 10px;
}

.d-item:hover {
    background-color: #5360ef;
    margin-left: 5px;
    transition: .5s;
}

.bg-white- {
    background-color: #fff;
}

.filter-btn {
    background-color: #FF9F67;
    border: 1px solid;
    outline: none;
    box-shadow: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.f-3 {
    font-size: 16px;
}

.search_ {
    border: 1px solid;
    border-radius: 10%;
}

.w-search {
    width: 365px;
}

.category_ {
    display: inline-block;
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 3px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px;
}

.category_:hover{
    background: rgb(200, 111, 255);
    color: #fff;
}

.acc-bg {
  background-color: #FBF9FF;
  color: #30557a;
  cursor: pointer;
}

.acc-round {
  width: 40px;
  border: 1px solid #119fe5;
  border-radius: 50%;
  background-color: #8571FF;
}

.m-play {
  margin-left: 7px;
}

.r-2 {
  box-sizing: border-box;
  border-radius: 20px;
}

.sent {
    color: #2156a0;
    
}

.comment_avt {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


/* --- spinner --- */
#spinner-div {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
}

.lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 100px;
}
.lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #FF9F67;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
}
.lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
}
.lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
}
.lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
}
.lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
}
.lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
}
.lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
}
.lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
}
.lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
}
.lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
}
.lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
}
.lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
}
@keyframes lds-default {
    0%, 20%, 80%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
}
  